---
title: Archive
prev-project-name: Museum Project
prev-project-link: museumproject.html
next-project-name: Unnecessary I
next-project-link: unnecessary1.html

---
{{#extend "lyt-default"}}
	{{#content "main"}}
		{{> singleproject data-projects.archive}}
	{{/content}}
{{/extend}}

{{!-- 
<div class="project-single-intro waiting">

	<div class="project-img">
		<img src="img/projects/can-a-woman/proj-canawoman.jpg" alt="">
	</div>
	<div class="project-title">
		<h1>{{title}}</h1>
		<span class="project-year">2012</span>
		<span class="project-titledesc">Instalation, Galery Jao Cocetay, Berlin</span>
	</div>
	<div class="cf"></div>

</div>

<article class="project-single-content">
	<section class="b-text">
		<p>The installation does not display finished work but raw materials that exists as sketches of the ideas. It shows the beginning of the dynamics of thoughts. The media is not selected as a display material but as the most appropriate means for recording and storing the initial impulse, the first idea of a possible action.Different materials appear as different states of mind grouped together as multimedia documentation.</p>
	</section>

	<section class="b-images">
	    <img src="img/projects/can-a-woman/can_a_woman01.jpg" alt="">
	    <img src="img/projects/can-a-woman/can_a_woman02.jpg" alt="">
	    <img src="img/projects/can-a-woman/can_a_woman03.jpg" alt="">
	    <img src="img/projects/can-a-woman/can_a_woman04.jpg" alt="">
	    <img src="img/projects/can-a-woman/can_a_woman05.jpg" alt="">
	    <img src="img/projects/can-a-woman/can_a_woman06.jpg" alt="">
	    <img src="img/projects/can-a-woman/can_a_woman08.jpg" alt="">
	</section>

</article>
 --}}