---
title: Biography
showfooter: false
activeHeaderLink: bio
---

{{#extend "lyt-default"}}
	{{#content "main"}}
<div class="bio-page">

	<div class="bio-upper-section">

		<div class="bio-title">
			{{!-- <span class="bio-titledesc"> Biography</span> --}}
			<h2>Jelena Fuzinato</h2>

			<p>
			Born in 1984. in Prnjavor, Bosnia and Herzegovina. Graduated from The Facylty of Fine Arts Belgrade, Departments of Painting, University of Arts, Belgrade (2009). Studied at Academy of Arts in Banja Luka and at the Faculty of Fine Arts in Belgrade. <br>
			Currently studies at the Institute Art in Context, University of Arts Berlin. 	
			</p>
		</div>

		<div class="bio-img">
			<img src="img/bio.jpg" alt="">
		</div>
		
	</div>

	<div class="cf"></div>
		<section class="bio-list">
			
			<article class="col-50 col-left">
				<h4>Collective exhibitions:</h4>
				<ul>
					<li>2012. Artist in residence exhibition, Jao Cocetau, Berlin;</li>
					<li>2011. "Temple, Book, Map ", biennial Big Balkan Show, Gallery Risim, Cultural centre Cacak,
					Historical Museum, Cacak (Serbia)</li>
					<li>2011. "Pogledi",colective show of contemporary art in Serbia, Gallery 73, Belgrade (Serbia)</li>
					<li>2010. Mediterranean 2010, Internation bienale of paiters and sculptors, Palata Milesi, Split (Croatia)</li>
					<li>2008. House of Legacy, Real Presence, International exhibition for Young Artists , Belgrade (Serbia)</li>
					<li>2008. Goethe institute, Drawing exhibition, Belgrade (Serbia)</li>
					<li>2008. Progresiv Hope 3, happening-exhibition Galery Haos-nKA/MKM , Belgrade (Serbia)</li>
					<li>2008. Gallery "Izlozi" , Caracter agains Violence action, Belgrade (Serbia)</li>
					<li>2007. Academy of Arts Sofija, Student exhibition, Sofija (Bulgaria)</li>
					<li>2005. Balkan Art Project, painting exhibition, Turin (Italy)</li>
					<li>2005.Museum of City Banja Luka, "Tradicija", Exhibition of drawings and graphics, Banja Luka (BiH)</li>
				</ul>

				<h4>Awards and scholarships:</h4>
				<ul>
					<li>2006. Praise, Academy of Art Banja Luka for painting</li>
					<li>2005. Award, Academy of Art Banja Luka for achievements in painting technology</li>
				</ul>
			</article>

			<article class="col-50 col-right">
				<h4>Solo exhibitions:</h4>
				<ul>
					<li>2012. Magacin 8, Rouge-exhibition and performance, "Can a Woman make a big Piece" Belgrade;</li>
					<li>2012. Gallery of Contemporary Art Smederevo "Necessarity of Unnecessary ", Smederevo;</li>
					<li>2011. Cultural centre Novi Sad, "Grandmother Stories", Novi Sad;</li>
					<li>2011. Gallery Dvorište, Art Group Rouge, Pančevo;</li>
					<li>2011. Gallery of Contemporary Art Zrenjanin, "Conscience", Zrenjanin;</li>
					<li>2009. Gallery Podrum,"Bathtub", Novi Sad;</li>
				</ul>

				<h4>Workshops:</h4>
				<ul>
					<li>2010. Mediterranean 2010, Solta (Croatia)</li>
					<li>2010. Black Queen, Drvar (Bosnia and Herzegovina)</li>
					<li>2005. Balkan Art, Torino (Italy)</li>
					<li>2005. Children Village, Sremska Kamenica (Serbia)</li>
					<li>2008. Real Presence, Belgrade (Serbia)</li>
				</ul>
			</article>

			

	   </section>

</div>
	{{/content}}
{{/extend}}

