<header class="b-header">
	<section class="header-inner">
	
		<a class="logo"href="index.html">Jelena Fuzinato</a>

		<nav>
			<ul class="nav_list">
				<li class="nav_list-item">
					<a class="nav_link js-nav-link {{#is activeHeaderLink "news"}}is-active{{/is}}" href="news.html">News</a>
				</li>
				<li class="nav_list-item">
					<a class="nav_link js-nav-link {{#is activeHeaderLink "bio"}}is-active{{/is}}" href="bio.html">Bio</a>
				</li>
				<li class="nav_list-item">
					<a class="nav_link js-nav-link {{#is activeHeaderLink "projects"}}is-active{{/is}}" href="index.html">Projects</a>
				</li>
			</ul>
		</nav>
		

	</section>
</header>