
<aside class="project-list">
	<ul>
		{{#each data-projects}}
			<li>
				<a href="{{link}}">
					<h3 class="proj-name">{{title}}</h3>
					<span class="proj-desc">{{year}} | {{subtitle}}</span>
				</a>
			</li>
		{{/each}}
	</ul>
</aside>