
// SINGLE PROJECT
.bio-page{

	position: relative;
	opacity: 1;
	overflow:auto;
	visibility: visible;
	transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
	@include intro-anim;

	p {
		font-size: 12px;
	    line-height: 20px;
	}

	.bio-upper-section {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}


	.bio-title {

		padding-right: 30px;
		@include respond-to(desktop) {
			margin-top: 60px;
	    }

	    h2 {
	        margin-bottom: 5px;
	        margin-top: 20px;
	        font-size: 28px;
	        line-height: 40px;
	        letter-spacing: 6px;
	    	text-transform: uppercase;

	    	@include respond-to(phone) {
				font-size: 18px;
				line-height: 22px;
				letter-spacing: 3px;
	    	}
	    }

	    span {
	    	position: relative;
	        font-size: 16px;
	    }

	  		
		&.is-fixed{
			position: fixed;
		}
	}

	.bio-img{
		@include intro-anim-x(-25px);
		transition-delay: 0.2s;
	    flex: 1 0 50%;

	    @include respond-to(tiny) {
			display: none;
	    }

		img {
			width: 100%;
       		height: 100%;
	       	object-fit: contain;
		}

		@include respond-to(desktop) {
	       width: 60%;
	    }

	     @include respond-to(tab, phone) {
	       width: 50%;
	       height: 300px;
	    }

		// Same effect as in project page
		&:before {
			content: '';
			position: absolute;
			background-color: $bgc;
			width: 0%;
			height: 100%;
			top: 0;
			left: 0;
			transition: width 0.5s; 
			transition-delay: 0.2s;

			body:not(.is-page-loaded) & {
				width: 10%;
			}

		}

	}

	.bio-list {
		@extend p;
		padding-top:50px;
		display: flex;

		@include respond-to(phone) {
	      flex-direction: column;
	    }


		h4 {
			padding: 10px 0;
		}

		ul {
			padding-bottom:20px;
		}

		// .col-left, 
		// .col-right{
		// 	float:left;
		// 	display: inline-block;
		// 	width: 50%;
		// 	box-sizing: border-box;
		// }

		.col-left{
			padding-right: 30px;
		}
	}
}