
// INDEX
.home-info-section {
	
	h1 {
		font-weight: normal;
		padding-bottom: 40px;
	}
	
	.left-section {
		width: 30%;
	}
	.right-section {
		width: 60%;
		
		p {
			margin: 0;
		}
	}
	
	.left-section,
	.right-section{
		display: inline-block;
		vertical-align: top;
		
		@media (max-width: 768px) {
			& {
				width: 100%;
				display: block;
			}
		}
	}
	
}
.home-project-list{
	
	.project-list {
		color: $textcolor;
		transition: color 0.35s;

		.is-link-hover & {
			color: $textcolor-dim;
		}

		body.play-page-outro & {
			transition: opacity 0.35s;
			opacity: 0;
		}
	}

	.project-list-item {
		opacity: 1;
		transition: opacity 1.35s;

		
		body:not(.is-page-loaded) & {
			opacity: 0;
		}

		@for $i from 1 through 10 {
			&:nth-child(#{$i}){
				transition-delay: #{ (0.1 * $i) }s;
			}
		}
	}

	.project-link {
		position: relative;
		display: inline-block;
		position: relative;
		padding: 20px 0;
		padding-left: 50px;

		&:before {
			position: absolute;
			top: 36px;
			left: 0;
			content: '';
			width: 30px;
			height: 1px;
			background-color: $textcolor;
			transition: width 0.35s;
		}
		
		&:hover{
			transition: color 0.35s;
			color: $textcolor;
			
			&:before {
				width: 40px;
			}

			.proj-desc{
				transform: translateY(0);
			}

			&~.proj-img {
				width: 30vw;
				opacity: 1;
			}
		}


		&>h3{
			font-size: 28px;
		}

		@media (max-width: 1024px) {
			& {
				margin-left: 0;
			}
		}
	}

	.proj-name{
		letter-spacing: 1px;
		font-size: 28px;
		font-family: 'Montserrat', Helvetica, Arial, sans-serif;
		font-weight: bold;
		position: relative;		
	}

	.proj-desc__wrapper {
		overflow: hidden;
	}

	.proj-desc{
		font-size: 12px;
		display: inline-block;
		transform: translateY(20px);
		transition: transform 0.35s;
	}

	.proj-img {
	    position: fixed;
	    top: 0;
	    right: 0;
	    height: 100%;
	    width: 0;
	    opacity: 0;
	    object-fit: cover;
	    transition: width 0.35s, opacity 0.2s;
	}
}

.section-title {
	
	color:  $homeListBorder;
	font-family: serif;
	font-style: italic;
	border-bottom: 1px solid #eee;
}
